.pageContainer{
    display: flex;

}

.item1{
   max-height: 100%;
}

.item2{
   
    max-width: 40%;
   max-height: 100%;
   
}

.item3{
   max-height: 100%;
}



.background{
    background-image: url("../../assets/imges/Background.jpg");
    background-size: 100% 100%;
    max-height: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}
